@import "tailwindcss";

:root {
  --background: #081f4d;
  --foreground: #ffffff;
  --primary: #6ec1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  overflow-x: hidden;
  background: transparent;
}

section {
  position: relative;
  padding: 100px 0;
  background: transparent;
}

::selection {
  background: #6ec1ff;
  color: #081f4d;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #081f4d;
}

::-webkit-scrollbar-thumb {
  background: #6ec1ff;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8fd4ff;
}
@keyframes modalOpen {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(20px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
/* Premium Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #081221;
}

::-webkit-scrollbar-thumb {
  background: rgba(59,130,246,.45);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(59,130,246,.75);
}
@keyframes goatScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.goat-slider {
  display: flex;
  width: max-content;
  animation: goatScroll 35s linear infinite;
}

.goat-slider:hover {
  animation-play-state: paused;
}
.picnic-slider {
  display: flex;
  width: max-content;
  animation: goatScroll 35s linear infinite reverse;
}

.picnic-slider:hover {
  animation-play-state: paused;
}
/* Historic Moments Infinite Slider */

.historic-slider {
  width: max-content;
  animation: historicSlide 35s linear infinite;
}

.historic-slider:hover {
  animation-play-state: paused;
}

@keyframes historicSlide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
